<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
      <img
        style="margin-top: 20px"
        src="./assets/img/logo-lab365.webp"
        width="100px"
        class="brand-logo left hide-on-med-and-down"
      />
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a id="home" href="javascript:;">Home</a></li>
      <li><a id="semana3" href="javascript:;">Semana 3</a></li>
      <li><a id="semana4" href="javascript:;">Semana 4</a></li>
      <li><a id="semana5" href="javascript:;">Semana 5</a></li>
    </ul>
  </div>
</nav>
