<br /><br /><br />
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <img
          id="footer-logo"
          src="./assets/img/logo-lab365.png"
          alt="logo da empresa"
          width="60px"
        />
      </div>
      <div class="col l4 offset-l2 s12 links">
        <ul class="linha">
          <li>
            <a href="https://www.linkedin.com/in/arielduarte" target="_blank">
              <img src="./assets/img/icons8-linkedin.svg" alt="linkedin" />
            </a>
          </li>
          <li>
            <a
              href="https://github.com/reyduar/lab365-fullstack-js-app"
              target="_blank"
            >
              <img src="./assets/img/icons8-github.svg" alt="github" />
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/user/ArielSorgens/videos"
              target="_blank"
            >
              <img src="./assets/img/icons8-youtube.svg" alt="yt" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./assets/img/icons8-twitter.svg" alt="twitter" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span style="background-color: #98afc7 !important; color: black"
        >© 2023 Copyright Ariel Duarte</span
      >
    </div>
  </div>
</footer>
